.header {
  display: flex;
  align-items: center;
  background-color: #222;
  padding: 10px;
}

.header a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
